# Changes to files that will be ignored by git
# Uses glob pattern. Ex: '*.exe' ignores all files ending with '.exe'.
*.exe
*.bin

# Changes to folders that will be ignored by git.
# Format: [folder_name]/
.git/
.vscode/
install/
build/
log/